<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">MobileHub</ion-card-title>
        <img class="logo-img" src="assets/img/mobilehub.png" alt="Logo" class="logo-img">
      </ion-card-header>

      <ion-card-content scroll-y="false">
        <ion-button shape="round" size="full" [routerLink]="['/login']" color="dark">Iniciar Sesión</ion-button>
        <ion-button shape="round" size="full" [routerLink]="['/register']" fill="clear">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
