<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Registrar</ion-card-title>
      </ion-card-header>

      <ion-card-content scroll-y="false">
        <ion-list>
          <ion-list>
            <ion-item>
              <ion-label position="floating">RUT</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nombre completo</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Año de nacimiento</ion-label>
              <ion-input type="number" min="1900" [max]="currentYear"></ion-input>
            </ion-item>
          </ion-list>
        </ion-list>
        <ion-button shape="round" size="full" color="dark">Enviar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
