<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Iniciar Sesión</ion-card-title>
      </ion-card-header>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-card-content scroll-y="false">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" name="email" type="email"></ion-input>
          </ion-item>
          <ion-card class="error-message" color="danger" *ngIf="form.get('email')?.hasError('serverError')">
            <ion-card-content><strong>ERROR: </strong>{{ form.get('email')?.getError('serverError') }}</ion-card-content>
          </ion-card>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" name="password" type="password"></ion-input>
          </ion-item>
          <ion-card class="error-message" color="danger" *ngIf="form.get('password')?.hasError('serverError')">
            <ion-card-content><strong>ERROR: </strong>{{ form.get('password')?.getError('serverError') }}</ion-card-content>
          </ion-card>
          <ion-button type="submit" shape="round" size="full" color="dark">Ingresar</ion-button>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>
