<ion-header>
  <ion-toolbar>
    <ion-title>Repositorios/dizmk8</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let repo of repositories">
      <ion-col>
        <ion-item>
          <ion-label>
            <strong>Nombre:</strong> {{ repo.name }}
            <br>
            <strong>Creado:</strong> {{ repo.created_at | date: 'dd/MM/yyyy' }}
            <br>
            <strong>Número de commits:</strong> {{ repo.commits.length }}
            <br>
            <strong>Última modificación:</strong> {{ repo.updated_at | date: 'dd/MM/yyyy'  }}
          </ion-label>
          <ion-button color="dark" (click)="toggleCommits(repo)">Commits</ion-button>
        </ion-item>

        <ion-list *ngIf="repo.showCommits">
          <ion-item *ngFor="let commit of repo.commits">
            <ion-label>
              <strong>Commit:</strong> {{ commit.commit.message }}
              <br>
              <strong>Creación:</strong> {{ commit.commit.author.date | date: 'medium' }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
