<ion-header>
  <ion-toolbar>
    <ion-title>Repositorios Dizmk8</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-list>
      <ion-item *ngFor="let repo of repositories">
        <ion-label><strong>Repositorio: </strong> {{ repo.name }}</ion-label>
        <ion-label><strong>Fecha de creación: </strong> {{ repo.created_at }}</ion-label>
        <ion-label><strong>Cantidad de commits: </strong></ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>




