<ion-header>
  <ion-toolbar>
    <ion-title>Editar perfil</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Editar perfil</ion-card-title>
      </ion-card-header>
        <form [formGroup]="form">
        <ion-card-content scroll-y="false">
          <ion-item>
            <ion-label position="floating">Nuevo nombre completo</ion-label>
            <ion-input formControlName="full_name" name="full_name" type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nuevo email</ion-label>
            <ion-input formControlName="email" name="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nuevo año de nacimiento</ion-label>
            <ion-input formControlName="year" name="year" type="number"></ion-input>
          </ion-item>
          <ion-button type="submit" shape="round" size="full" color="dark">Guardar cambios</ion-button>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>


