<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">MobileHub</ion-card-title>
        <img class="logo-img" src="assets/img/mobilehub.png" alt="Logo" class="logo-img">
      </ion-card-header>

      <ion-card-content scroll-y="false">
        <ion-button (click)="openMenu()" shape="round" size="full" color="dark">Abrir Menú</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

